@import '../../styles/includes/functions.scss';
@import '../../styles/includes/variables.scss';

.nybll-menu {
  --lc-color-primary: #{$color-green};
  --lc-color-primary-light: #{$color-green-lighter};

  .MuiAppBar-root {
    margin: 0 calc($base-unit * -2);
    z-index: 50;
  }

  .MuiTab-wrapper {
    font-family: $base-font-family !important;
  }

  .MuiTabs-scrollButtonsDesktop {
    background-color: color('green-lighter');
    border-bottom: 2px solid transparent;
    display: inline-flex !important;
    transition: 0.3s all;

    &.Mui-disabled {
      background-color: transparent;
      border-bottom: 2px solid color('green');
      color: transparent;
      display: none !important;
      opacity: 1;
    }
  }

  .MuiTab-root {
    color: color('gray');
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-normal);
    opacity: 1;
    padding: 0 calc(var(--base-unit) * 3);
    text-transform: uppercase;
    transition: 0.3s all;

    @media #{$mq-min-md} {
      border-top-color: rgba(0, 0, 0, 0);
      flex: 1;
    }

    &:hover {
    }

    &.Mui-selected {
      background-color: rgba(var(--color-green-lightest), 1);
      color: color('black');
      font-weight: var(--font-weight-bold);
    }
  }
}

.nybll-menu--diet-panel {
  margin-top: calc(var(--base-unit) * 3);

  & > div {
    display: flex;
    flex-direction: column;
  }

  .MuiAppBar-root {
    align-self: flex-end;
    width: 100%;

    @media #{$mq-min-xl} {
      max-width: calc(50% - (var(--base-unit) * 2));
    }
  }

  .MuiTab-root {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid color('gray-light');
    border-bottom: 1px solid color('gray-light');
    border-right: 1px solid color('gray-light');
    color: color('black');
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    line-height: 18px;
    min-width: unset;
    margin-left: -1px;
    opacity: 1;
    padding: calc(var(--base-unit) / 2);
    text-transform: none;
    transition: 0.3s all;

    p span {
      display: block;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-normal);
      line-height: 14px;
      margin-top: calc(var(--base-unit) / 2);
    }

    @media #{$mq-min-md} {
      padding: var(--base-unit);
    }

    &:first-of-type {
      border-left: 1px solid color('gray-light');
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-left: 0px;
    }

    &:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover,
    &.Mui-selected {
      border: 1px solid color('green');
    }

    &:hover + .MuiTab-root {
      border-left: 1px solid rgba(0, 0, 0, 0);
    }
  }

  div[role='tabpanel'] {
    min-height: 450px;
  }

  .MuiTabs-indicator {
    display: none !important;
  }
}

.nybll-menu--content-list {
  h6:first-of-type {
    margin-top: 0;
  }

  ul li {
    list-style: none;

    &::before {
      content: '•';
      margin-right: calc(var(--base-unit) * 2);
    }
  }
}

.nybll-menu--footer {
  align-items: center;
  display: flex;

  .nybll-menu--footer-legend {
    align-items: center;
    border: 1px solid color('green-light');
    border-radius: 60px;
    box-sizing: initial;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    max-width: 188px;
    padding: 10px 16px;
    width: 100%;
  }

  p {
    line-height: 14px;
    margin: 0;
  }

  svg {
    height: 16px;
    margin-right: 8px;
  }
}

.nybll-menu--image {
  position: relative;
  display: block;
  padding-bottom: 100%;

  img {
    display: block;
  }

  &-primary,
  &-secondary {
    position: absolute;
    background: no-repeat center center;
    background-size: cover;
    width: 100%;
  }

  &-primary {
    z-index: 1;
    top: 0;
    right: 0;
    max-width: 100%;
    padding-bottom: 100%;
  }

  &-secondary {
    z-index: 2;
    left: 0;
    bottom: 0;
    max-width: 44%;
    padding-bottom: 44%;
  }

  &-has-secondary {
    padding-bottom: 100%;

    .nybll-menu--image-primary {
      max-width: 71%;
      padding-bottom: 71%;
    }
  }
}
