// --------------------
// Media Queries
// --------------------

$breakpoints: (
  'xs': 320px,
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1240px
);

$mq-min-xs: '(min-width: #{map-get($breakpoints, "xs")})';
$mq-min-sm: '(min-width: #{map-get($breakpoints, "sm")})';
$mq-min-md: '(min-width: #{map-get($breakpoints, "md")})';
$mq-min-lg: '(min-width: #{map-get($breakpoints, "lg")})';
$mq-min-xl: '(min-width: #{map-get($breakpoints, "xl")})';

// Created a set of 'max' variables in case we need to set custom styles for a particular size range
$mq-max-sm: '(max-width: #{map-get($breakpoints, "sm")})';
$mq-max-md: '(max-width: #{map-get($breakpoints, "md")})';
$mq-max-lg: '(max-width: #{map-get($breakpoints, "lg")})';
$mq-max-xl: '(max-width: #{map-get($breakpoints, "xl")})';

// --------------------
// Colors
// --------------------

$color-black: hexToRGB(#262422);
$color-white: hexToRGB(#fdfdfd);

$color-gray-dark: hexToRGB(#2c2d2c);
$color-gray: hexToRGB(#484e4a);
$color-gray-light: hexToRGB(#e4e4e4);
$color-gray-lighter: hexToRGB(#f7f7f7);

$color-green-dark: hexToRGB(#31664e);
$color-green: hexToRGB(#55a883);
$color-green-light: hexToRGB(#dbe3c2);
$color-green-lighter: hexToRGB(#a9d9c3);
$color-green-lightest: hexToRGB(#ecf5f1);

$color-blue: hexToRGB(#021f59);
$color-pink: hexToRGB(#f3cfd3);
$color-yellow: hexToRGB(#ffeb9d);

$color-primary: $color-green;
$color-secondary: $color-green-lightest;

// --------------------
// Margins & Padding
// --------------------

$base-unit: 8px;

// --------------------
// Typography
// --------------------

$font-family-serif: freight-macro-pro, serif;
$font-family-sans-serif: 'Roboto', sans-serif;

$base-text-color: color('black');
$base-font-size: 16px;
$base-font-family: $font-family-sans-serif;
$base-line-height: 1.5em;
$base-type-margin: 24px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: $base-font-size;
$font-size-lg: 18px;
$font-size-xl: 20px;

$font-size-sm-h1: 28px;
$font-size-sm-h2: 24px;
$font-size-sm-h3: 22px;
$font-size-sm-h4: 20px;
$font-size-sm-h5: 18px;
$font-size-sm-h6: $font-size-sm;

$font-size-h1: 56px;
$font-size-h2: 48px;
$font-size-h3: 40px;
$font-size-h4: 32px;
$font-size-h5: 24px;
$font-size-h6: $base-font-size;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$heading-line-height: 1.15em;
$heading-font-weight: 400;

// --------------------
// Slick
// --------------------

$slick-loader-path: '~slick-carousel/slick/';
$slick-font-path: '~slick-carousel/slick/fonts/';
